@model AllModel
@{
    int counterHeader = 0;
    int counterBody = 0;
}
<!DOCTYPE html>

<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projelerimiz</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Özel Stiller -->
    <style>
        .container {
            max-width: 960px;
            /* Adjust the width as necessary */
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            /* Use a light background */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            /* Soft shadow for depth */
        }

        .nav-tabs {
            display: flex;
            justify-content: center;
            border-bottom : none!important;
        }

        /* Styles for the tab items */
        .nav-item {
            margin-right: 15px;
            /* Adjusts the space between tabs */
        }

        /* Styles for the tab links */
        .nav-link {
            /* Hides border */
            border-radius: 15px;
            /* Rounds corners */
            padding: 8px 16px;
            /* Adjust padding */
            color: #000;
            /* Text color for non-active tabs */
            background-color: #f0f0f0;
            /* Background color for non-active tabs */
            /* Smooth transition for hover effects */
        }



        /* Styles for the tab content */
        .tab-content {
            border: 1px solid #ddd;
            /* Adds border around the tab content */
            border-radius: 15px;
            /* Rounds corners for the tab content */
            padding: 16px;
            /* Padding inside the tab content */
            margin-top: 8px;
            /* Spacing between tabs and content */
            background-color: #fff;
        
        }


        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
            /* Space between cards */
            justify-content: center;
            padding: 20px;
        }

        .card:nth-child(3n+1) {
            grid-column-start: 1; /* 4., 8., 12., ... kartları ilk sütunda başlat */
        }
        .card {
            flex: 0 1 calc(33.333% - 20px);
            /* Subtract gap from width */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 20px;
            /* Space between rows */
            background: #fff;
        }

            .card img {
                width: 100%;
                display: block;
            }

        .card-content {
            padding: 16px;
            text-align: center;
        }

        .card-title {
            font-size: 20px;
            color: #333;
            margin-bottom: 8px;
            font-weight: 700;
            text-align: left;
        }

        .card-text {
            text-align: left;
            color: #666;
            margin-bottom: 16px;
        }

        .card-icon {
            font-size: 24px;
            color: #333;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            transition: color 0.3s ease;
        }

            .card-icon:hover {
                color: #555;
                cursor: pointer;
            }


        .main-tab {
            border-radius: 20px;
            height: 100px;
            width: 100px;
            background-color: #f7f7f7;
        }

        .alt-tab {
            border-radius: 25px !important;
            border: 1px solid black;
            background-color: #f7f7f7;
        }

        .button-tab {
            height: 30px;
            width: 30px;
            background-color: #bbb;
            border-radius: 50%;
            margin-right: 250px !important;
        }

        .tab-content-product {
            border: 1px solid #ddd;
            /* Adds border around the tab content */
            border-radius: 15px;
            /* Rounds corners for the tab content */
            padding: 16px;
            /* Padding inside the tab content */
            margin-top: 8px;
            /* Spacing between tabs and content */
            background-color: #fff;
            /* Background color for the tab content */
            margin-left: 15%;
            margin-right: 15%;
        }
        .card a {
            color: #333;
        }
        .card a:hover {
            text-decoration:none;
                color: #333;
            }
    </style>
</head>

<body>
    <div style="margin-top:3%;margin-left: 150px;margin-right: 150px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="main-tab" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
                    <i class="fa-solid fa-ellipsis"></i><br />
                    <h6>ALL</h6>
                </button>
            </li>
            @foreach (var mainCategory in Model.MainCategories)
            {
                <li class="nav-item">
                    <button class="main-tab @(counterHeader == 0 ? "active" : "")" id="category-tab-@mainCategory.id" data-toggle="tab" href="#category-@mainCategory.id" role="tab" aria-controls="category-@mainCategory.id" aria-selected="@(counterHeader == 0 ? "true" : "false")">
                        <i class="fa-regular fa-building"></i><br />
                        <h6>@mainCategory.name.ToUpper()</h6>
                    </button>
                </li>
                counterHeader++;
            }
        </ul>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="card-container">
                    @foreach (var product in Model.Products)
                    {
                        <div class="card">
                            <img src="~/images/insaat.png" alt="@product.name">
                            <div class="card-content">
                                <div class="card-title">@product.name</div>
                                <div class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</div>
                                <button class="button-tab">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>


            @foreach (var mainCategory in Model.MainCategories)
            {
                <div class="tab-pane fade" id="category-@mainCategory.id" role="tabpanel" aria-labelledby="category-tab-@mainCategory.id">
                    <ul class="nav nav-tabs" id="sub-tab-@mainCategory.id" role="tablist">
                        @foreach (var subCategory in mainCategory.SubCategories)
                        {
                            <li class="nav-item">

                                <button class="btn  alt-tab" id="subcategory-tab-@subCategory.id" data-toggle="tab" href="#subcategory-@subCategory.id" role="tab" aria-controls="subcategory-@subCategory.id" aria-selected="true">
                                    @subCategory.name.ToUpper()
                                </button>
                            </li>
                        }
                    </ul>
                    <div class="" id="sub-tab-content-@mainCategory.id">
                        @foreach (var subCategory in mainCategory.SubCategories)
                        {
                            <div class="tab-pane fade" id="subcategory-@subCategory.id" role="tabpanel" aria-labelledby="subcategory-tab-@subCategory.id">
                                <div class="card-container">
                                    @foreach (var product in Model.Products.Where(p => p.mainCategoryId == mainCategory.id && p.subCategoryId == subCategory.id))
                                        {
                                        <div class="card">
                                            <a href="@Url.Action("ProductDetail", "Production", new { id = product.id })">
                                                <!-- Burada ProductDetail ve Product controller ve action isimlerine göre düzenleme yapmanız gerekebilir -->
                                                <img src="~/images/insaat.png" alt="@product.name">
                                                <div class="card-content">
                                                    <div class="card-title">@product.name</div>
                                                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit.</div>
                                                    <button class="button-tab">
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        }
                                        
                                </div>
                            </div>
                        }
                    </div>
                </div>
                counterBody++;
            }


        </div>

    </div>




    <!-- Bootstrap ve jQuery kütüphaneleri -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>