
@{
    ViewData["Title"] = "Index";
}
@model List<Product>

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>subCategory</th>
            <th>mainCategory</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
                <tr>
                    <td>@product.id</td>
                    <td>@product.name</td>
                    <td>@product.description</td>
                    <td>@product.subCategory.name</td>
                    <td>@product.mainCategory.name</td>

                </tr>
        }
    </tbody>
</table>



